@use './style_helper/' as *;
@use './header/header';
@use './PlayerContainer/playerContainer';

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $mainFont;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}
